<% if resource.errors.any? %>
  <div id="error_explanation d-flex flex-wrap justify-content-center align-items-center fixed-bottom w-100">
    
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    
  </div>
<% end %>
