<!-- Button trigger modal -->

<div class="fixed-bottom w-100 d-flex justify-content-end p-5">
<button type="button" class="btn btn-outline-warning btn-lg border-0 rounded-circle breathingEffect" data-bs-toggle="modal" data-bs-target="#newButton">
  <span class="personal-logo display-5">✏️</span>
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="newButton" tabindex="-1" aria-labelledby="newButtonLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     
    <div class="modal-content d-flex flex-column align-items-center bg-transparent border-0">

      <button type="button" class="personal-logo my-3 btn-outline-warning btn-lg border-0 bg-transparent rounded-circle" data-bs-dismiss="modal" aria-label="Close">❌</button>
      
      <div class="bg-light p-3 my-3 rounded shadow shake">
        <%= link_to 'New Task 🗒️', new_task_path, class: "ubuntu-font text-maroon text-decoration-none display-6" %>
      </div>

      <div class="bg-warning p-3 my-3 rounded shadow shake">
        <%= link_to 'New Label 🏷️', new_label_path, class: "ubuntu-font text-maroon text-decoration-none display-6" %>
      </div>

      
      
    </div>
  </div>
</div>